{% load verbatim %}

{% verbatim %}
<div class="span12">
    <form id="mapForm">
        <div class="row-fluid">
            <div class="span3">
                <label>Map Name</label>
                <!-- <input type="text" ng-model="map.name" placeholder="e.g. Bees" required/> -->
                <input type="text" ng-model="map.name" ng-change="saveMap()" ng-model-onblur placeholder="e.g. Bees" required/>

                <label><input type="checkbox" ng-model="map.accept_submissions" ng-change="toggleAcceptSubmissions()"> Accept user submissions</label>

                <div ng-switch on="ui_signals.showAdvanced">
                    <div ng-switch-when="1">
                        <label>Base Shareable URL</label>
                        <input type="text" ng-model="map.shareable_url_root" ng-change="saveMap()" ng-model-onblur/>

                        <label popover="0 is the whole world. 19 is individual buildings. Defaults to 6." popover-placement="top" popover-trigger="mouseenter">Initial Zoom</label>
                        <input type="number" min="0" max="19" ng-model="map.initial_zoom" ng-change="saveMap()" ng-model-onblur placeholder="e.g. 6"/>
                    </div>
                </div>

            </div>

            <div class="span3">
                <label>Tile Set</label>
                <select ng-model="map.tile_set" ng-change="saveMap()">
                    <option value="google.maps.MapTypeId.TERRAIN">Terrain</option>
                    <option value="google.maps.MapTypeId.ROADMAP">Roadmap</option>
                </select>

                <div ng-switch on="ui_signals.showAdvanced">
                    <div ng-switch-when="1">
                        <label>Initial Center Latitude</label>
                        <input type="number" step="0.01" min="-90" max="90" ng-model="map.center_latitude" ng-change="saveMap()" ng-model-onblur placeholder="e.g. 54.0"/>

                        <label>Initial Center Longitude</label>
                        <input type="number" step="0.01" min="-180" max="180" ng-model="map.center_longitude" ng-change="saveMap()" ng-model-onblur placeholder="e.g. 2.0"/>
                    </div>
                </div>
            </div>

            <div class="span6">
                <div tabs>
                    <div ng-switch on="map.accept_submissions">
                        <div ng-switch-when="true">
                            <div pane heading="Submission Header HTML" active="true">
                                <textarea rows="10" ng-model="map.submission_header_html" ng-change="saveMap()" ng-model-onblur></textarea>
                            </div>
                        </div>
                    </div>
                    <div ng-switch on="ui_signals.showAdvanced">
                        <div ng-switch-when="1">
                            <div pane heading="Map Specific JS">
                                <textarea rows="10" ng-model="map.specific_js" ng-change="saveMap()" ng-model-onblur></textarea>
                            </div>
                            <div pane heading="Map Specific CSS">
                                <textarea rows="10" ng-model="map.specific_css" ng-change="saveMap()" ng-model-onblur></textarea>
                            </div>
                            <div pane heading="Map Specific HTML">
                                <textarea rows="10" ng-model="map.specific_html" ng-change="saveMap()" ng-model-onblur></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div tabs>
        <div class="pull-right dropdown">
            <a class="btn btn-small dropdown-toggle" id="btn-add-layer" href=""><i class="icon-plus"></i> Layer</a>
            <ul class="dropdown-menu pull-right">
                <li><a ng-click="addNewLayer()">Create New Layer</a></li>
                <li class="divider"></li>
                <li ng-repeat="layer in layersNotInMap">
                    <a ng-click="addLayer(layer)">{{ layer.name }}</a>
                </li>
            </ul>

            <span ng-switch on="ui_signals.layerStatusBadge">
                <span ng-switch-when="deleted"><span class="label label-success badge-layer-status">Layer Deleted</span></span>
                <span ng-switch-when="saved"><span class="label label-success badge-layer-status" style="right: 110px;"><i class="icon icon-white icon-pencil"></i></span></span>
                <span ng-switch-when="error"><span class="label label-important badge-layer-status" style="right: 300px;">Error! Could not save layer</span></span>
            </span>

        </div>

        <div pane ng-repeat="layer in map.layer_objects" heading="{{ layer.name }}" active="layer.focused">
            <div class="row-fluid" style="position: relative; top: -1px;">
                <div class="span12">
                    <div class="btn-group pull-right">
                        <a class="btn btn-small" id="btn-remove-layer" href="" ng-click="removeLayer(layer)"><i class="icon-minus"></i> Layer</a>
                        <a class="btn btn-small" id="btn-delete-layer" href="" ng-click="openDeleteLayerModal(layer)"><i class="icon-trash"></i></a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row-fluid" style="margin-top: 10px; min-height: 500px;">
                    <div class="span2">
                        <label>Layer Name</label>
                        <input type="text" ng-model="layer.name" placeholder="New Layer" required ng-change="saveLayer(layer)" ng-model-onblur>

                        <label><input type="checkbox" ng-model="layer.visible" ng-change="saveLayer(layer)"> Visible by default</label>

                        <hr>

                        <label popover="A custom image for an individual marker. Should be PNG, JPG, or GIF." popover-placement="top" popover-trigger="mouseenter">Marker Icons</label>
                        <div style="min-height: 50px;">
                            <div class="pull-left" style="padding-right: 10px;">
                                <span ng-repeat="markericon in layer.marker_icon_objects">
                                    <img ng-click="removeMarker(markericon, layer)" ng-src="/files/{{ markericon.icon }}" alt="{{ markericon.name }}" style="cursor: not-allowed;">
                                </span>
                            </div>

                            <div class="dropdown pull-left">
                                <a class="btn dropdown-toggle" href=""><i class="icon-plus"></i></a>
                                <div class="dropdown-menu marker-dropdown">
                                    <a ng-repeat="markericon in marker_icons" ng-click="addMarker(layer, markericon)"><img style="padding:2px 4px;" ng-src="/files/{{ markericon.icon }}" alt="{{ markericon.name }}"></a>
                                    <a ng-click="openMarkerModal()" class="btn btn-small btn-upload-marker"><i class="icon icon-arrow-up"></i> Upload New Marker</a>
                                </div>
                            </div>
                        </div>


                        <label>Legend Icon</label>
                        <div style="min-height: 50px;">
                            <div class="dropdown pull-left">
                                <img class="pull-left dropdown-toggle" ng-src="/files/{{ layer.legend_icon_object.icon }}" alt="{{ layer.legend_icon_object.name }}" style="cursor: pointer;">
                                <div class="dropdown-menu marker-dropdown">
                                    <a ng-repeat="markericon in marker_icons" ng-click="replaceLegendMarker(layer, markericon)"><img style="padding:2px 4px;" ng-src="/files/{{ markericon.icon }}" alt="{{ markericon.name }}"></a>
                                    <a ng-click="openMarkerModal()" class="btn btn-small btn-upload-marker"><i class="icon icon-arrow-up"></i> Upload New Marker</a>
                                </div>
                            </div>
                        </div>


                        <label><input type="checkbox" ng-model="layer.should_cluster" ng-change="saveLayer(layer)">Cluster markers</label>

                        <div ng-switch on="layer.should_cluster">
                            <div ng-switch-when="true">

                                <label>Cluster Marker Icon</label>

                                <div style="min-height: 50px;">
                                    <div class="dropdown pull-left">
                                        <img class="pull-left dropdown-toggle" ng-src="/files/{{ layer.cluster_icon_object.icon }}" alt="{{ layer.cluster_icon_object.name }}" style="cursor: pointer;">
                                        <div class="dropdown-menu marker-dropdown">
                                            <a ng-repeat="markericon in marker_icons" ng-click="replaceClusterMarker(layer, markericon)"><img style="padding:2px 4px;" ng-src="/files/{{ markericon.icon }}" alt="{{ markericon.name }}"></a>
                                            <a ng-click="openMarkerModal()" class="btn btn-small btn-upload-marker"><i class="icon icon-arrow-up"></i> Upload New Marker</a>
                                        </div>
                                    </div>
                                </div>

                                <label popover="To enhance contrast for particular cluster icons." popover-placement="top" popover-trigger="mouseenter">Cluster Text Color</label>
                                <select ng-model="layer.cluster_text_color" ng-change="saveLayer(layer)">
                                    <option value="000000">Black</option>
                                    <option value="FFFFFF">White</option>
                                </select>
                            </div>
                        </div>


                        <div ng-switch on="ui_signals.showAdvanced">
                            <div ng-switch-when="1">
                                <label popover="Optional. Layers with a higher z-index display above those with a lower z-index. Defaults to 0." popover-placement="top" popover-trigger="mouseenter">Z-index</label>
                                <input type="number" min="0" ng-model="layer.z_index" placeholder="0" ng-change="saveLayer(layer)" ng-model-onblur>
                            </div>
                        </div>
                    </div>

                    <div class="span10" style="">
                        <label>
                            <div class="dropdown pull-right">
                                <a class="btn btn-small dropdown-toggle" style="border-radius: 4px 4px 0 0; border-bottom-width: 0; font-weight: normal;"><i class="icon-plus"></i> Dataset</a>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="addNewDataset(layer)">Create New Dataset</a></li>
                                    <li class="divider"></li>
                                    <li ng-repeat="dataset in layer.datasetsNotInLayer">
                                        <a ng-click="addDataset(layer, dataset)">{{ dataset.name }}</a>
                                    </li>
                                </ul>

                                <span ng-switch on="ui_signals.datasetStatusBadge">
                                    <span ng-switch-when="deleted"><span class="label label-success badge-dataset-status">Dataset Deleted</span></span>
                                    <span ng-switch-when="saved"><span class="label label-success badge-dataset-status" style="right: 90px;"><i class="icon icon-white icon-pencil"></i></span></span>
                                    <span ng-switch-when="error"><span class="label label-important badge-dataset-status" style="right: 250px;">Error! Could not save dataset</span></span>
                                </span>
                            </div>
                            Datasets
                        </label>
                        <div class="well" style="border-radius: 4px 0 4px 4px;">
                            <div class="row-fluid" ng-repeat="dataset in layer.dataset_objects">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <legend style="font-size: 120%; position: relative; margin-bottom: 0px;">{{ dataset.name }}</legend>
                                    </div>
                                </div>

                                <div class="row-fluid" style="position: relative; top: -1px;">
                                    <div class="span12">
                                        <div class="btn-group pull-right" id="btn-group-dataset">
                                            <a class="btn btn-small" id="btn-remove-dataset" href="" ng-click="removeDataset(dataset, layer)"><i class="icon-minus"></i></a>
                                            <a class="btn btn-small" id="btn-delete-dataset" href="" ng-click="openDeleteDatasetModal(dataset, layer)"><i class="icon-trash"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span3">
                                        <label popover="" popover-placement="bottom" popover-trigger="mouseenter">Dataset Name</label>
                                        <input type="text" ng-model="dataset.name" ng-change="saveDataset(dataset)" ng-model-onblur required>

                                        <label>Dataset Type</label>
                                        <select ng-model="dataset.source_type" ng-change="saveDataset(dataset)">
                                            <option value="fusion">Fusion Table</option>
                                            <option value="source_code">Source Code</option>
                                            <option value="json">JSON Feed</option>
                                            <option value="xml">XML Feed</option>
                                            <option value="user_submissions">User Submissions</option>
                                        </select>

                                        <div ng-switch on="dataset.source_type">
                                            <div ng-switch-when="source_code">
                                                <div ng-switch on="ui_signals.showAdvanced">
                                                    <div ng-switch-when="1">
                                                        <label popover="How frequently this feed will be rendered, in minutes. Set to a shorter time for new data to show up quicker. Default 30. Minumum 5." popover-placement="top" popover-trigger="mouseenter">Render Frequency</label>
                                                        <div class="input-append">
                                                          <input class="span4" min="5" type="number" ng-model="dataset.render_frequency_in_minutes" ng-change="saveDataset(dataset)" ng-model-onblur>
                                                          <span class="add-on">minutes</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-switch-when="user_submissions"></div>
                                            <div ng-switch-default>
                                                <label popover="Name of the latitude field for each item in the dataset. e.g. latitude.  Default: lat" popover-placement="top" popover-trigger="mouseenter">Latitude Field Name</label>
                                                <input type="text" ng-model="dataset.latitude_field" ng-change="saveDataset(dataset)" ng-model-onblur>

                                                <label popover-title="" popover="Name of the longitude field for each item in the dataset. e.g. longitude. Default: lng" popover-placement="top" popover-trigger="mouseenter">Longitude Field Name</label>
                                                <input type="text" ng-model="dataset.longitude_field" ng-change="saveDataset(dataset)" ng-model-onblur>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="span3">
                                        <div ng-switch on="dataset.source_type">
                                            <div ng-switch-when="fusion">
                                                <label popover-title="Example" popover-placement="top" popover-trigger="mouseenter"
                                                       popover="119vz7GVpKf1wxM310eoi0905RXYiKcvdB0HehgE copied from Fusion Table address" >Fusion Table ID</label>
                                                <input type="text" ng-model="dataset.source_location" ng-change="saveDataset(dataset)" ng-model-onblur>
                                            </div>
                                            <div ng-switch-when="source_code">
                                                <label popover-title="Example" popover-placement="top" popover-trigger="mouseenter" popover="FF1300BSD" >Source Code</label>
                                                <input type="text" ng-model="dataset.source_location" ng-change="saveDataset(dataset)" ng-model-onblur>
                                            </div>
                                            <div ng-switch-when="user_submissions"></div>
                                            <div ng-switch-default>
                                                <label popover-title="Examples" popover-placement="top" popover-trigger="mouseenter"
                                                       popover="//www.foe.co.uk/maps/feeds/bee_savers.json for a json feed
                                                                //www.foe.co.uk/rss/lgs.xml for an xml feed" >Feed Location</label>
                                                <input type="text" ng-model="dataset.source_location" ng-change="saveDataset(dataset)" ng-model-onblur>
                                            </div>
                                        </div>


                                        <div ng-switch on="dataset.source_type">
                                            <div ng-switch-when="fusion">
                                                <label popover-title="Notes" popover="'local' rendering processes markers on the client and can be clustered. Only fusion tables can be rendered remotely. 'remote' rendering occurs on Fusion table servers but markers cannot be clustered." popover-placement="top" popover-trigger="mouseenter">Render Location</label>
                                                <select ng-model="dataset.render_location" ng-change="saveDataset(dataset)">
                                                    <option value="local">Local</option>
                                                    <option value="remote">Remote</option>
                                                </select>
                                            </div>


                                            <div ng-switch-when="source_code">
                                                <label popover="The maximum number entries for this dataset.  For source codes with a lot of data that would slow web browsers down." popover-placement="top" popover-trigger="mouseenter">Maximum Dataset Entries</label>
                                                <input type="number" min="0" ng-model="dataset.max_result_count" ng-change="saveDataset(dataset)" ng-model-onblur>

                                                <div ng-switch on="ui_signals.showAdvanced">
                                                    <div ng-switch-when="1">
                                                        <label popover="The number of decimal places to truncate positions to. 1 decimal place &#8773; 11.1 km. 2 decimal places &#8773; 1.1 km. 3 decimal places &#8773; 110 m (default). 4 decimal places &#8773; 11 m. 5 decimal places &#8773; 1.1 m." popover-placement="top" popover-trigger="mouseenter">Decimal Precision</label>
                                                        <input type="number" min="0" ng-model="dataset.decimal_precision" ng-change="saveDataset(dataset)" ng-model-onblur>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-switch on="dataset.render_location">
                                            <div ng-switch-when="remote">
                                                <label popover-title="" popover="To specify polygon fields for remote rendered fusion tables. If used lat and long field names above will be ignored. e.g. { polygons: 'geometry' }" popover-placement="top" popover-trigger="mouseenter">Field Override</label>
                                                <input type="text" ng-model="dataset.field_override" ng-change="saveDataset(dataset)" ng-model-onblur>

                                                <label popover-title="Notes" popover="Only used in remote rendered, customized Fusion table map views.<br>styleId denotes color, templateId denotes popup fields. Values for each found in Fusion Table > Map of [field_name] > Tools > Publish... > Get HTML and Javascript. e.g. { styleId: 2, templateId: 2 }" popover-placement="top" popover-trigger="mouseenter">Fusion Styles</label>
                                                <input type="text" ng-model="dataset.fusion_styles" ng-change="saveDataset(dataset)" ng-model-onblur>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="span6">
                                        <div tabs>
                                            <div pane heading="Popup HTML Template" active="true">
                                                <textarea rows="6" ng-model="dataset.popup_html" ng-change="saveDataset(dataset)" ng-model-onblur placeholder="e.g. <h1>&#123;&#123; name &#125;&#125;</h1><p>&#123;&#123; description }}&lt;/p&gt;&lt;a href=&quot;&#123;&#123; website }}&quot; target=&quot;blank&quot;&gt;Go to Website &raquo;&lt;a&gt;"></textarea>
                                            </div>

                                            <div ng-switch on="ui_signals.showAdvanced">
                                                <div ng-switch-when="1">
                                                    <div pane heading="Custom Parser">
                                                        <textarea rows="6" ng-model="dataset.parser" ng-change="saveDataset(dataset)" ng-model-onblur placeholder="Should return a list of feed entries that contain lat and lng.  Required for feeds such as the Local Groups XML feed in which has nested items."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div modal="previewModal.isOpen" close="closePreviewModal()" options="previewModal.opts" class="large">
        <div class="modal-header">
            <h4>{{ map.name }} Preview</h4>
        </div>
        <div class="modal-body">
            <iframe id="preview-iframe" style="" src="/mapmaker/map/{{ map.id }}/preview/"></iframe>
        </div>
        <div class="modal-footer">
            <span ng-switch on="ui_signals.mapStatusBadge">
                <span ng-switch-when="published">
                    <span class="pull-left">Map published to <a href="{{ map.published_url }}" target="_blank">{{ map.published_url }}</a></span>
                    <span class="label label-success badge-map-publish-status">Map Published</span>
                </span>
                <span ng-switch-when="publishError"><span class="label label-important badge-map-publish-status">Could Not Publish Map</span></span>
            </span>

            <button class="btn btn-success" ng-click="publishMap()">Publish Map</button>
            <button class="btn cancel" ng-click="closePreviewModal()">Close</button>
        </div>
    </div>

    <div modal="deleteMapModal.isOpen" close="closeDeleteMapModal()" options="deleteModalOpts">
        <div class="modal-header"><h4>Are you sure you want to delete {{ map.name }}?</h4></div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="deleteMap()">Delete</button>
            <button class="btn cancel" ng-click="closeDeleteMapModal()">Cancel</button>
        </div>
    </div>

    <div modal="deleteLayerModal.isOpen" close="closeDeleteLayerModal()" options="deleteModalOpts">
        <div class="modal-header"><h4>Are you sure you want to delete this layer?</h4></div>
        <div class="modal-body">
            <p>Deleting this layer will remove it from <span style="text-decoration: underline; font-weight: bold;">all</span> maps.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="deleteLayer()">Delete Layer</button>
            <button class="btn cancel" ng-click="closeDeleteLayerModal()">Cancel</button>
        </div>
    </div>

    <div modal="deleteDatasetModal.isOpen" close="closeDeleteDatasetModal()" options="deleteModalOpts">
        <div class="modal-header"><h4>Are you sure you want to delete this dataset?</h4></div>
        <div class="modal-body">
            <p>Deleting this dataset will remove it from <span style="text-decoration: underline; font-weight: bold;">all</span> layers and maps.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="deleteDataset()">Delete Dataset</button>
            <button class="btn cancel" ng-click="closeDeleteDatasetModal()">Cancel</button>
        </div>
    </div>

    <div modal="markerModal.isOpen" close="closeMarkerModal()" options="markerModal.opts" style="">
        <div class="modal-header">
            <h4>Upload New Marker</h4>
        </div>
        {% endverbatim %}

        <form ng-upload id="uploadMarkerForm" action="{% url 'mapmaker-markericon-list' %}">
        <div class="modal-body">
            {% csrf_token %}
            <label>Marker Name</label>
            <input type="text" name="name" ng-model="upload_marker_name" required/>
            <label>Marker Image</label>
            <input type="file" name="icon" />
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Upload" upload-submit="uploadComplete(contents, completed)" />
            <button class="btn cancel" ng-click="closeMarkerModal()">Close</button>
        </div>
        </form>
        {% verbatim %}
    </div>
{% endverbatim %}

{# <pre>{{ map|json }}</pre> #}

</div>
